
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #dd5f26 !default;
$secondary: #58595b !default;
$info: #05d1d1 !default;

// Colors
$gray: #58595b;
$orange: #dd5f26;
$light-blue: #05d1d1;
